h1{
    background-color: antiquewhite;
    font-weight: bold;
    text-decoration: dotted;

}
h2{
    background-color: cadetblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    text-decoration: dashed;

}
